<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Экзамен | Программирование</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400">
        <link rel="shortcut icon" href="../static/img/examatic.ico" type="image/x-icon">
        <link rel="icon" href="../static/img/examatic.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/all.min.css">
        <link rel="stylesheet" href="../static/css/modal.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>

        <main role="main" class="container"> {% block content %}{% endblock %}
            <footer class="tm-footer text-center">
                <p>© 2021 Владислав Моторин | e-mail: <a rel="nofollow" href="mailto:motorin@yandexlyceum.ru">motorin@yandexlyceum.ru</a>
            </footer>
        </main>

        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/parallax.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.tm-paging-link').click(function(e){
                    e.preventDefault();
                    var page = $(this).text().toLowerCase();
                    $('.tm-gallery-page').addClass('hidden');
                    $('#tm-gallery-page-' + page).removeClass('hidden');
                    $('.tm-paging-link').removeClass('active');
                    $(this).addClass("active");
                });
            });
        </script>

    </body>
</html>
