{% extends "base.html" %}

{% block content %}

<div class="container">
      <div class="placeholder">
          <div class="parallax-window" data-parallax="scroll" data-image-src="static/img/python-logo.jpg">
              <div class="tm-header">
                  <div class="row tm-header-inner">
                      <div class="col-md-6 col-12">
                          <img src="static/img/simple-logo.png" alt="Logo" class="tm-site-logo" onclick="window.open('/index');">
                          <div class="tm-site-text-box">
                              <h1 class="tm-site-title">Экзамен</h1>
                              <h6 class="tm-site-description">Программирование на языке Python</h6>
                          </div>
                      </div>
                      <nav class="col-md-6 col-12 tm-nav">
                          <ul class="tm-nav-ul">
                              <li class="tm-nav-li"><a href="/index" class="tm-nav-link">Вопросы</a></li>
                              <li class="tm-nav-li"><a href="/register" class="tm-nav-link">Регистрация</a></li>
                              <li class="tm-nav-li"><a href="/login" class="tm-nav-link active">Экзамен</a></li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
</div>

<main>
    <header class="row tm-welcome-section">
        <h2 class="col-12 text-center tm-section-title">На экзамен!</h2>
        <p class="col-12 text-center">
            После нажатия кнопки "Получить экзаменационный билет"
            система случайным образом сгенерирует его для вас.
            Сразу же начнётся обратный отсчёт времени, выделенного на подготовку.
            Если вы случайно закроете данную страницу,
            то на неё можно снова зайти по первоначальной ссылке,
            выданной преподавателем.
        </p>
    </header>
</main>

<form action="" method="post" style="padding-left: 200px; padding-right: 200px;">
    <div class="container">
        {{form.hidden_tag()}}
        <p>
            {{form.email.label}}<br>
            {{form.email(class="form-control", type="email")}}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
            {% endfor %}
        <p>
            {{form.password.label}}<br>
            {{form.password(class="form-control", type="password")}}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
            {% endfor %}
        <p>
            {{form.remember_me()}} {{form.remember_me.label}}
        <p align="center">
            {{form.submit(type="submit", class="iw-modal-btn")}}

        <!-- Модальное окно -->
        <div id="iw-modal" class="iw-modal">
            <div class="iw-modal-wrapper">
                <div class="iw-CSS-modal-inner">
                    <div class="iw-modal-header">
                        <h3 class="iw-modal-title">Внимание!</h3>
                        <a href="#close" title="Закрыть" class="iw-close">×</a>
                    </div>
                    <div class="iw-modal-text">
                        <p>Неправильный логин или пароль</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
