{% extends "base.html" %}

{% block content %}

<header class="row tm-welcome-section">
    <h2 class="col-12 text-center tm-section-title">{{title}}</h2>
    <p class="col-12 text-center">
        Инструкции
    </p>
</header>

<form action="" method="post" style="padding-left: 150px; padding-right: 150px;">
    {{form.hidden_tag()}}
    {{form.csrf_token}}
    <p>
        {{form.number.label}}<br>
        {{form.number(class="form-control")}}<br>
        {% for error in form.number.errors %}
            <p class="alert alert-danger" role="alert">{{error}}
        {% endfor %}
    <p>
        {{form.content.label}}<br>
        {{form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">{{error}}</p>
        {% endfor %}
    <p>{{form.is_published()}} {{form.is_published.label}}</p>

    {{message}}

    <p align="center">
        {{form.submit(type="submit", class="iw-modal-btn")}}

</form>

{% endblock %}
