{% extends "base.html" %}

{% block content %}

<div class="container">
      <div class="placeholder">
          <div class="parallax-window" data-parallax="scroll" data-image-src="static/img/python-logo.jpg">
              <div class="tm-header">
                  <div class="row tm-header-inner">
                      <div class="col-md-6 col-12">
                          <img src="static/img/simple-logo.png" alt="Logo" class="tm-site-logo" onclick="window.open('/index');">
                          <div class="tm-site-text-box">
                              <h1 class="tm-site-title">Экзамен</h1>
                              <h6 class="tm-site-description">Программирование на языке Python</h6>
                          </div>
                      </div>
                      <div class="col-md-6 col-12 tm-site-text-box">
                          <!--
                          <h6 class="tm-site-description" align="right">Желаем удачи:)</h6>
                          -->
                          <div class="timer" align="right"></div>
                          <h1 class="tm-site-title" align="right">Приступайте!</h1>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>

<script>
    var timerElem = document.querySelector('.timer'),
        i = 60 * 45,
        timerId = setInterval(function(){
            i--;
            timerElem.innerHTML = Math.floor(i / 60) + ':' + Math.floor(i % 60 / 10) + i % 60 % 10;
            if (i < 1) clearInterval(timerId);
        },
        1000);
</script>

<main>

    <header class="row tm-welcome-section">
        <h2 class="col-12 text-center tm-section-title">{{surname}} {{name}} {{middlename}}</h2>
        <p class="col-12 text-center">
            Экзаменационный билет состоит из двух вопросов и практического задания.
            Время на подготовку: 45 минут. Приступайте!
        </p>
    </header>

    <div class="tm-paging-links">
        <nav>
            <ul>
                <li class="tm-paging-item"><a href="#" class="tm-paging-link active">Вопрос-01</a></li>
                <li class="tm-paging-item"><a href="#" class="tm-paging-link">Вопрос-02</a></li>
                <li class="tm-paging-item"><a href="#" class="tm-paging-link">Практика</a></li>
            </ul>
        </nav>
    </div>

    <div class="row tm-gallery">
        <!-- Вопрос №1 -->
        <div id="tm-gallery-page-вопрос-01" class="tm-gallery-page">
            <h4>{{ticket[0]}}</h4>
        </div>

        <!-- Вопрос №2 -->
        <div id="tm-gallery-page-вопрос-02" class="tm-gallery-page hidden">
            <h4>{{ticket[1]}}</h4>
        </div>

        <!-- Практика -->
        <div id="tm-gallery-page-практика" class="tm-gallery-page hidden">
            <img src={{ticket[-1]}}  style="width: 100%;  object-fit: cover;" alt="Практика">
        </div>
    </div>

</main>

{% endblock %}
